@CHARSET "UTF-8";

html {
	overflow-y: scroll;
}

body {
	/*color: #333333;
    font-family: arial,sans-serif;
    font-size: small;*/
	font-family: Cantarell, 'Droid Sans', Ubuntu, 'DejaVu Sans', Arial,
		sans-serif;
	font-size: 0.8em;
	padding: 0 0 40px;
	margin: 0px;
	padding: 0px;
	background-color: #F1F1F1;
}

a {
	outline: none;
	color: #3B6EB4;
}

a:visited {
	color: transparent;
	filter: alpha(opacity = 0);
}

a img {
	border: none;
}

a:hover img,a:active img a:focus img {
	border: none;
}

h1 {
	font-size: 24px;
	color: #333333;
	line-height: 30px;
	margin-top: 0;
	margin-bottom: 10px;
}

h2 {
	font-size: 18px;
	color: #333333;
}

h3 {
	font-size: 14px;
	color: #333333;
	text-transform: uppercase;
}

table {
	margin-left: auto;
	margin-right: auto;
}

p,li,dd,dt,table,label,input,textarea {
	font-size: 100%;
	line-height: 20px;
}

p {
	margin: 0 0 10px 0;
}

input[type="button"],input[type="submit"] {
	margin: 0;
	padding: 2px 6px;
	line-height: 1.4em;
}

.content {
	width: 984px;
	margin: 0 auto 0;
}

.top-layout {
	border-bottom: 1px solid gray;
	height: 40px;
	margin-bottom: 20px;
	clear: both;
}

.footer {
	border-top: 1px solid gray;
	height: 60px;
	clear: both;
	position: relative;
    top: 60px;
}

.main, #main {
	float: none;
	width: auto;
	background-color: #ffffff;
	margin: 0;
}
/* override stk styles */
/*.all a { padding: 2px 0 0 17px; }*/
#main .links li a {
	background: none;
}
/* --- content --- */
.content {
	clear: both;
}

/* Page center */
.center-area {
	float: right;
	width: 750px;
	box-shadow: 0 0 3px #C9C9C9;
    background-color: white;
    padding: 30px 0;
}

.center-area .verticalArea .componentRow {
	padding: 0 20px;
}

/*.page-center-area {float:left; width: 700px;}
.page-center-area ul {list-style: none outside none;margin-left: 35px;padding-left: 0;}
.page-center-area ul li {background: url("../img/areas/listimage_4.png") no-repeat scroll 0 3px transparent;margin-bottom: 5px;padding-left: 20px;}
.page-center-area ul li ul, .center-area ul ul {list-style: circle outside none;}
.page-center-area ul li ul li, .center-area ul ul li {background: none; padding-left: 0px;}
.page-center-area table ul {list-style: disc outside none;margin: 0 0 0 14px;}
.page-center-area table ul li {background: none repeat scroll 0 0 transparent; line-height: 1.2em; margin-bottom: 8px; padding-left: 0;}*/

/* Page center */
.left-area {
	float: left;
	width: 220px;
}

.promo-block {
	clear: both;
	position: relative;
	top: 30px;
	color: gray;
}

/* navigation menu */
.navigation {
	font-size: 13px;
}

.navigation ul {
	border: 0 none;
	margin: 0;
	padding: 0;
	color: #222222;
	display: block;
}

.navigation li {
	border-bottom: 1px solid transparent;
	line-height: 29px;
	opacity: 1;
	padding-left: 16px;
	border: 0 none;
	margin: 0;
	padding: 0;
	display: block;
}

.navigation li.first-item {
	
}

.navigation li.last-item {
	
}

.navigation li.selected {
	color: #D14836;
	cursor: pointer;
	font-weight: bold;
}

.navigation li a {
	text-decoration: none;
	color: #222222;
	display: block;
	cursor: pointer;
	font-size: 1.1em;
}

.navigation li a:hover { /* background-color: #999; */
	text-decoration: underline;
}

.navigation li.selected a { /*background-color: transparent;*/
	color: #3964C2;
}

ul.subnavigation {
	list-style-type: none;
	margin: 2px 0 0 0;
	padding: 0px;
	clear: both;
}

.subnavigation li {
	float: left;
	margin: 0 0 6px 16px;
	padding: 0px;
	line-height: 1.2em;
}

.subnavigation li a {
	overflow: hidden;
	margin: 0px;
	text-decoration: none;
	display: block;
	font-weight: normal;
	font-size: small;
	color: black !important;
}

.subnavigation li a:hover { /* border-color: #fff; */
	text-decoration: underline;
}

.subnavigation li.selected a { /* color: #e0e0e0; */
	color: #F57129 !important;
}